/* 공통부분 CSS */
@charset "utf-8";

/* 초기화 */
html,
body,
div,
header,
nav,
section,
aside,
article,
footer,
figure,
figcaption,
legend,
fieldset,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
p,
img,
button {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
fieldset {
  border: 0;
}

/* 숨김 콘텐츠 */
.hidden,
legend {
  position: absolute;
  left: -9999px;
}

/* 기본 스타일 */
/* 폰트 넣어야 함 */

a:link {
  color: #4f4f4f;
  text-decoration: none;
}
a:visited {
  color: #8a8e91;
}
a:hover,
a:focus {
  color: steelblue;
  text-decoration: none;
}
body {
  color: #000;
  background-color: #fff;
}
#header,
#visual,
#contentsArea,
#footerInner {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 헤더 영역 시작 */
#header {
  height: 120px;
  position: relative;
  /* position: fixed; */
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
}
.logo {
  position: absolute;
  top: 10px;
  left: 70px;
}
.logo img {
  width: 250px;
  height: 100px;
}
.infoLink {
  text-align: right;
}
.infoLink > li {
  display: inline-block;
  padding: 8px 0 7px 3px;
}
.infoLink a::before {
  content: "|";
  padding-right: 8px;
}
.infoLink > li:first-child a::before {
  content: "";
}
.mainMenu {
  height: 40px;
  padding-left: 290px;
}
/* 메인메뉴의 상위 메뉴 */
.mainMenu > li {
  position: relative;
  padding: 15px;
}
.mainMenu > li > a {
  color: #555;
  padding: 10px 15px;
}
.mainMenu li,
.mainMenu a {
  display: inline-block;
}
.mainMenu li:hover > a {
  /* background-color: steelblue; */
  color: steelblue;
}

/* 메인메뉴의 하위 메뉴 */
.mainMenu li:hover ul {
  display: block;
  background: rgba(255, 255, 255, 0.8);
}
.mainMenu ul {
  display: none;
  position: absolute;
  z-index: 10;
}
.mainMenu ul li {
  width: 130px;
  padding: 15px;
}
/* 헤더 영역 종료 */

/* 메인 콘텐츠 영역 시작 */
#contentsArea {
  min-height: 400px;
  /* padding: 30px 0 30px 30px; */
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* 메인 콘텐츠 영역 종료 */

/* 푸터 영역 시작 */
#footer {
  padding: 15px 0;
  height: 150px;
}
#footerInner {
  position: relative;
  border-top: 1px solid #ccc;
}
.footerLogo {
  position: absolute;
  left: -10px;
  top: 40px;
  width: 250px;
  height: 100px;
}
.guide {
  text-align: center;
}
.guide li {
  display: inline-block;
  margin: 10px 30px 10px 30px;
}
.guide a {
  display: inline-block;
  color: #4f4f4f;
  padding: 10px 15px 10px 0;
}
address {
  font-style: normal;
  margin-bottom: 5px;
  position: absolute;
  left: 240px;
  top: 60px;
}
address span {
  display: block;
}
address span::before {
  content: "·";
  padding: 0 10px 0 0;
}
#footerInner p {
  position: relative;
  left: 240px;
  top: 65px;
}
/* 푸터 영역 종료 */
