/* 공통부분 CSS */
@charset "utf-8";
#wrapper {
  /* overflow: hidden; */
}
/* 비주얼 영역 시작 */
#visual {
  height: 300px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
#visualContainer {
  width: 1200px;
  display: flex;
}
#visual h2 {
  margin-top: -35px;
  margin-right: 30px;
  text-align: right;
}
#visual div.visualImg {
  margin: 0;
  padding: 20px 0;
  display: inline-block;
  width: 25%;
  position: relative;
  height: 250px;
  text-align: center;
}
.boxing img:first-child {
  width: 200px;
  height: 200px;
}
.boxing img:last-child {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 20px;
}
.swimming img:first-child {
  width: 250px;
  height: 250px;
}
.swimming img:last-child {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 70px;
  top: 115px;
}
.climing img:first-child {
  width: 200px;
  height: 200px;
}
.climing img:nth-child(2) {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 85px;
  top: 130px;
}
.climing img:last-child {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 110px;
  top: 10px;
}
.pilates img {
  width: 200px;
  height: 200px;
}
/* 콘텐츠 영역 시작 */
#contentsArea {
  margin-top: 30px;
}
/* 메인 아티클 영역 시작 */
#mainArticle {
  float: left;
}
#mainArticle article {
  overflow: hidden;
  margin: 50px 0;
}
#mainArticle article:first-child {
  margin-top: 0px;
}

#mainArticle article img {
  width: 350px;
  /* height: 350px; */
}
#mainArticle article p {
  display: inline-block;
  width: 400px;
  line-height: 1.5;
  margin: 0 20px;
  text-align: justify;
}
#mainArticle h3 {
  margin: 10px;
  font-weight: normal;
}
#mainArticle h3 span {
  font-weight: bold;
}
#mainArticle article:nth-of-type(even) h3 {
  text-align: right;
}
#mainArticle article:nth-of-type(1) img {
  float: left;
}
#mainArticle article:nth-of-type(1) p {
  float: right;
}
#mainAritcle article:nth-of-type(2) img {
  float: right;
}
#mainArticle article:nth-of-type(2) p {
  float: left;
}
#mainArticle article:nth-of-type(3) img {
  float: left;
}
#mainArticle article:nth-of-type(3) p {
  float: right;
}
#mainAritcle article:nth-of-type(4) img {
  float: right;
}
#mainArticle article:nth-of-type(4) p {
  float: left;
}
.usefulArea {
  width: 300px;
  margin-left: 50px;
}
/* 예약하기, 일일체험신청, 비회원예약조회 배너 섹션 */
.reservation ul {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* background: #ececec; */
}
.reservation a {
  display: block;
  width: 230px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  /* background: #4682b4; */
  border: 1px solid #5ec0e7;
  background: linear-gradient(to bottom, #bedeed 0%, #5ec0e7 100%);
  border-radius: 40px;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.reservation li:first-of-type {
  padding-top: 20px;
}
.reservation li:last-of-type a {
  /* background: #999; */
  border: 1px solid #999;
  background: linear-gradient(to bottom, #999 0%, #666 100%);
  color: #fff;
}
/* sns 섹션 */
.sns {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 10px;
  /* background: #ececec; */
}
.sns h2 {
  text-align: center;
  margin-bottom: 15px;
}
.sns ul {
  list-style: none;
  overflow: hidden;
}
.sns li {
  float: left;
}
.sns li:first-of-type {
  padding-left: 10px;
}
.sns img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
/* 공지사항 영역 */
.noticeAndBanner {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background: #ececec; */
}
.notice {
  margin-top: 20px;
}
.notice h2 {
  text-align: center;
  margin-bottom: 15px;
}
.notice li {
  margin-bottom: 10px;
}
.notice ul a {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice ul a::before {
  content: "·";
  color: #666;
  padding: 0 10px;
}
.notice time {
  float: right;
  color: #7a7a7a;
  padding-right: 10px;
}
/* 배너 영역 */
.banner {
  width: 250px;
  margin-top: 20px;
  margin-left: 25px;
  overflow: hidden;
}
.bannerContainer {
  width: 750px;
  height: 250px;
  transition: all 0.5s;
}
.bannerImg {
  width: 250px;
  height: 250px;
  float: left;
}
.banner img {
  width: 250px;
  height: 250px;
}
.imgBtns {
  margin-left: 160px;
}
.imgBtns button {
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 5px;
}
