/* 공통부분 CSS */
@charset "utf-8";
#wrapper {
  /* overflow: hidden; */
}
/* 비주얼 영역 시작 */
#visual {
  height: 250px;
  border-bottom: 1px solid #ccc;
  display: flex;
}
#visual div {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  /* position: relative; */
  height: 250px;
}
.boxing img:first-child {
  width: 200px;
  height: 200px;
  /* position: absolute;
  left: 370px;
  top: 10px; */
}
.boxing img:last-child {
  /* width: 100px;
  height: 100px; */
  /* position: absolute;
  left: 420px;
  top: 10px; */
}
.swimming img:first-child {
  width: 250px;
  /* height: 250px;
  position: absolute;
  left: 620px; */
}
.swimming img:last-child {
  /* width: 80px;
  height: 80px; */
  /* position: absolute;
  left: 670px;
  top: 100px; */
}
.climing img:first-child {
  width: 200px;
  height: 200px;
  /* position: absolute;
  left: 900px;
  top: 10px; */
}
.climing img:nth-child(2) {
  /* width: 80px;
  height: 80px; */
  /* position: absolute;
  left: 940px;
  top: 130px;*/
}
.climing img:last-child {
  /* width: 80px;
  height: 80px; */
  /* position: absolute;
  left: 960px;
  top: 10px; */
}
.pilates img {
  width: 200px;
  height: 200px;
  position: absolute;
  /* left: 1120px;
  top: 10px; */
}
/* 콘텐츠 영역 시작 */
#contentsArea {
  margin-top: 30px;
}
/* 메인 아티클 영역 시작 */
#mainArticle {
  float: left;
}
#mainArticle article {
  overflow: hidden;
}

#mainArticle article img {
  width: 300px;
  height: 300px;
}
#mainArticle article p {
  display: inline-block;
  width: 500px;
}
#mainArticle article:nth-of-type(1) img {
  float: left;
}
#mainArticle article:nth-of-type(1) p {
  float: right;
}
#mainAritcle article:nth-of-type(2) img {
  float: right;
}
#mainArticle article:nth-of-type(2) p {
  float: left;
}
#mainArticle article:nth-of-type(3) img {
  float: left;
}
#mainArticle article:nth-of-type(3) p {
  float: right;
}
#mainAritcle article:nth-of-type(4) img {
  float: right;
}
#mainArticle article:nth-of-type(4) p {
  float: left;
}
.usefulArea {
  width: 300px;
  margin-left: 100px;
}
/* 예약하기, 일일체험신청, 비회원예약조회 배너 섹션 */
.reservation a {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  background: powderblue;
  border-radius: 40px;
  text-align: center;
}
/* sns 섹션 */
.sns {
  border: 1px solid #ccc;
}
.sns h2 {
  text-align: center;
  margin-bottom: 15px;
}
.sns ul {
  list-style: none;
  overflow: hidden;
}
.sns li {
  float: left;
}
.sns img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
/* 공지사항 영역 */
.noticeAndBanner {
  margin-top: 10px;
  border: 1px solid #ccc;
}
.notice {
  margin-top: 20px;
}
.notice h2 {
  text-align: center;
}
/* 배너 영역 */
.banner {
  margin-top: 20px;
}
.banner img {
  width: 200px;
  height: 200px;
}
